*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-image: url(../img/headerback.jpg);
  background-repeat: no-repeat;
  background-position: 85%;
  background-color: #fafafa;
  font-family: tahoma;
  padding: 30px;
}
.logo{
  display: inline-block;
  width: 40%;
  vertical-align: middle;
}
.separator{
  display: inline-block;
  width: 2px;
  height: 60px;
  background-image: linear-gradient(to top,#fafafa, #a7a7a7, #fafafa);
  margin-right: 30px;
  vertical-align: middle;
}
.header-text{
  display: inline-block;
  width: 50%;  
  vertical-align: middle;
}
.selected-text{
  color: lightblue;
}